<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.walton.hoteltv">

    <uses-feature android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature android:name="android.hardware.screen.landscape" android:required="true"/>
    <uses-feature android:name="android.hardware.faketouch"
        android:required="false"/>
    <uses-feature android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:banner="@drawable/app_logo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelTv"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ExclusiveActivity"
            android:exported="false" />
        <activity
            android:name=".MeetingActivity"
            android:exported="false" />
        <activity
            android:name=".PoolAndShowerActivity"
            android:exported="false" />
        <activity
            android:name=".FitnessAndSpaActivity"
            android:exported="false" />
        <activity
            android:name=".MyServiceActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".LocalAttractionActivity"
            android:exported="true" />
        <activity
            android:name=".TestDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodMenuActivity"
            android:exported="true" />
        <activity
            android:name=".TestMainActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".VillaActivity"
            android:exported="true" />
        <activity
            android:name=".DiningActivity"
            android:exported="true" />
    </application>

</manifest>